/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$light-theme-blue};
  --global-hover-color: #{$light-theme-blue};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$dark-theme-green};
  --global-hover-color: #{$dark-theme-green};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

/* Light theme */
:root {
  --award-text-color: #{$light-theme-blue};
  --award-bg-color: transparent;
}

/* Dark theme */
[data-theme="dark"] {
  --award-text-color: #{$dark-theme-green};
  --award-bg-color: transparent;
}

/* Fallback if your site uses prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --award-text-color: #{$dark-theme-green};
  }
}

.award-badge {
  color: var(--award-text-color);
  background-color: var(--award-bg-color);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 1.3em;
  padding: 2px 6px;
  position: relative;
  left: -0.25cm;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
    text-decoration: none;
  }
}

.award-icon {
  font-size: 1.6em;      // bigger emoji
  line-height: 1;
  vertical-align: -0.1em; // align nicely with text
  margin-right: 0.2em;
}



