---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@use "sass:color";

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

