---
layout: default
---
<h3 style="color: #4b9cd3;" id="unc"><a href="https://unc.edu">UNC</a></h3>
<!-- COMP 311 (Computer Organization) -->
<div class="card mt-3">
  <div class="p-3">
    <div class="row">
      <div class="col-sm-10">
        <h5 id="comp311" class="card-title">Computer Organization</h5>
        <h6 class="card-subtitle font-italic">Graduate TA (F23), Head UTA (S23, F22)</h6>
      </div>
    </div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            In 23S, I developed a SAP (Simple-As-Possible computer) program simulator, which enabled me to create and autograde a SAP programming assignment.
          </div>
          <div class="col-sm-3">
            <a href="/projects/sapsim">SAPsim</a>&nbsp;(<a href="https://github.com/jesse-wei/SAPsim">GitHub</a>)
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created a new part of the ALU implementation assignment, in which students implement ALU flag detection.
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created a resource that implements and explains 12 circuits from the course.
          </div>
          <div class="col-sm-3">
            <a href="https://github.com/jesse-wei/COMP311-circuits">COMP 311 circuits</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I have written 20+ in-use quiz and exam questions. In 23S, I wrote the entirety of Quiz 7 on the MIPS processor and control signals.
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I have written and released explanations for 150+ practice assessment questions. In 23S, I held three assessment review sessions for the course, with an average of 40 students at each.
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- COMP 210 (Data Structures and Analysis) -->
<div class="card mt-3">
  <div class="p-3">
    <div class="row">
      <div class="col-sm-10">
        <h5 id="comp210" class="card-title"><a href="https://www.cs.unc.edu/~kakiryan/teaching/summer-210.html">Data Structures and Analysis</a></h5>
        <h6 class="card-subtitle font-italic">Head UTA (Summer '22)</h6>
      </div>
      <div class="col-sm-2 text-sm-right">
        <span class="badge">
          210 
        </span>
      </div>
    </div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created ~10 in-use quiz questions.
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I held 5 quiz review sessions.
          </div>
          <div class="col-sm-3">
            <a href="https://docs.google.com/presentation/d/12e1sxpIHf1mICBM6xSjnnCluqbAZQcE1cxS9P-yykdk/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Slides</a> (recordings included)
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- COMP 110 (Introduction to Programming and Data Science) -->
<div class="card mt-3">
  <div class="p-3">
    <div class="row">
      <div class="col-sm-10">
        <h5 id="comp110" class="card-title"><a href="https://22s.comp110.com">Introduction to Programming and Data Science</a></h5>
        <h6 class="card-subtitle font-italic">UTA (S22, F21, S21)</h6>
      </div>
      <div class="col-sm-2 text-sm-right">
        <span class="badge">
          110
        </span>
      </div>
    </div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created a Git workshop for the COMP 110 hackathon Hack110.
          </div>
          <div class="col-sm-3">
            <a href="https://docs.google.com/presentation/d/1EHSeRvvkmLQSM9iJL0GyXE-p_i4bnn7eMuCr-YWPQ_A/">Slides</a>
            <br>
            <a href="https://github.com/comp110git/git-workshop">GitHub</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created additional exercises for advanced learners.
          </div>
          <div class="col-sm-3">
            <a href="https://22s.comp110.com/explore/side-quest/sq01-pong.html">Pong</a>
            <br>
            <a href="https://22s.comp110.com/explore/side-quest/sq00-ttt.html">Tic-Tac-Toe</a>
            <br>
            <a href="https://22s.comp110.com/explore/pandas/exds01-cleaning.html">Data cleaning</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>

<!-- ACT -->
<h3 id="self-employed">Self-employed</h3>
<div class="card mt-3">
  <div class="p-3">
    <div class="row">
      <div class="col-sm-10">
        <h5 id="act" class="card-title">ACT</h5>
        <h6 class="card-subtitle font-italic">Jan. 2021 - June 2022: Private ACT Tutor</h6>
      </div>
    </div>
    <ul class="card-text font-weight-light list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I wrote a guide to the ACT in high school and have updated it quite a bit. I also wrote about advanced math concepts on the ACT.
          </div>
          <div class="col-sm-3">
            <a href="/blog/2022/guide-to-act/">Jesse's Guide to the ACT®</a>
            <br>
            <a href="/assets/pdf/act/Advanced_Math_Concepts_for_the_ACT.pdf">Advanced Math Concepts for the ACT®</a> (<a href="https://www.overleaf.com/read/rhmqqyskcrwp">Source</a>)
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            I created resources for my students and compile them on this website.
          </div>
          <div class="col-sm-3">
            <a href="/blog/2022/tutoring-notes">Notes from lessons</a>
            <a href="/blog/2022/math-gists">Math GitHub gists</a>
            <a href="/blog/2022/desmos">Desmos links</a>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-9">
            A lot of my blog post ideas came from topics I covered during my tutoring lessons.
          </div>
          <div class="col-sm-3">
            <a href="/blog/category/act/">Blog</a> (ACT category)
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Separation before Giscus comments -->
<br>